/* Global */

*, *::before, *::after {
        box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    color: #ffffff;
    font-family: 'Inconsolata', monospace;
    font-family: 'Signika', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 20px;
}
